.loadingbody {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #f4efef, #e3eeff);
}

.loading {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transform: rotate(45deg);
}

.loading span {
    flex-shrink: 0;
    width: 30%;
    height: 30%;
    /* 自定义属性 */
    --c: gray;
    /* 调用var函数使用自定义属性--c */
    background-color: var(--c);
    position: relative;
    transform: scale(0);
    /* 执行动画：动画 时长 线性的 无线次播放 */
    animation: blinking 2s linear infinite;
    /* 动画延迟 */
    animation-delay: var(--d);
}

.loading span::before {
    /* 设置增量 */
    /* counter-increment: number; */
    /* 将编号赋值到content，这里有助于我们根据编号设置样式 */
    /* content: counter(number); */
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(-45deg);
}

.loading span:nth-child(7) {
    --c: #f15a5a;
    --d: 0s;
}

.loading span:nth-child(4),
.loading span:nth-child(8) {
    --c: #f0c419;
    --d: 0.2s;
}

.loading span:nth-child(1),
.loading span:nth-child(5),
.loading span:nth-child(9) {
    --c: #4eba6f;
    --d: 0.4s;
}

.loading span:nth-child(2),
.loading span:nth-child(6) {
    --c: #2d95bf;
    --d: 0.6s;
}

.loading span:nth-child(3) {
    --c: #955ba5;
    --d: 0.8s;
}

/* 定义动画 缩放 */
@keyframes blinking {

    0%,
    100% {
        transform: scale(0);
    }

    40%,
    80% {
        transform: scale(1);
    }
}