body {

    background-color: white;
    /* color: black; */

}

.dark-mode {
    background-color: black;
    /* color: white; */
}
.navbar a{
    color: white;
}

.navbar a:hover{
    color: white;
}


