body {

    background-color: white;
    /* color: black; */

}

.dark-mode {
    background-color: black;
    /* color: white; */
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #06B6D4;
}

.h.navbar a {
    display: inline-block;
    position: relative;
    color: #06B6D4;
}

.navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #06B6D4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):hover) {
    background-color: transparent;
}