 .banner {
     background-color: #12174e;
     /* padding: 284px 0 266px;
     top: 50%;
     left: 50%; */
     padding: 220px 0 135px 0;
     position: relative;
     z-index: 1;
 }

 .bgImg {
     bottom: 0;
     right: 0;
     padding-left: 1000px;
     padding-bottom: 2500px;

 }