.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* margin: 0px 10px; */
    text-align: center;
    font-size: 20px;
    background: #fff;
    text-align: start;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customBg {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: #ffffff;
    -webkit-box-shadow: 6px 6px 24px #d9d9d9, -6px -6px 24px #ffffff;
    box-shadow: 6px 6px 24px #d9d9d9, -6px -6px 24px #ffffff;
    width: 340px;
    margin-left: 20px;
}

/* .swiper-container {
    width: 480px;
}

@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
} */


section .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.title span::before,
.title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

.title span::after {
    bottom: -6px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 576px) {
    .title span {
        font-size: 25px
    }

    .icon {
        margin-left: -50px;
    }

    .customBg {
        width: 290px;
        margin-left: 0px;
    }
}